body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f5f5f5;
    text-align: center;
}

.logo {
    font-weight: bold;
    color: #b30000;
}
.menu a {
    margin-left: 20px;
    color: black;
}

.title {
    margin: 60px 0 30px;
    font-size: 40px;
    font-weight: 900;   
    
}
.red {
    color: #b30000;
}

.black {
    color: black;
}


.team {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 200px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.name {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    margin: 60px 0;
}

.footer h2 {
    letter-spacing: 3px;
}
